#parrafo1{
    
    float:left;
}

#cajacentral{
    
    margin: auto;
    width: 90%;
    text-align: center;
   
    
}



body{
    
    background-color: darkmagenta;
    text-align: center;
}
        

#titulo h1{
    
    margin: auto;
    width: 450px;
    text-align: center;
}

#baner{
    
    
}